<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/nav.ejs') %>

            <div class="blogs content">
                <h2>all blogs</h2>
            </div>
            <div class="create-blogs content">
                <form action="/blogs" method="POST">
                    <label for="title">blogs title</label>
                    <input for="text" id="title" required name="title" />
                    <label for="snippet">blog snippet</label>
                    <input for="text" id="snippet" required name="snippet" />
                    <label for="body">textarea</label>
                    <textarea id="body" required name="body"></textarea>
                    <br />
                    <br />
                  <button>submit</button>
                </form>
            </div>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>