<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <div class="site-title">
            <a href="/">about blog devmulan</a>
            <p>net mulan site</p>
        </div>
        <%- include('./partials/nav.ejs') %>

            <div class="blogs content">
                <h2>all blogs</h2>
            </div>
            <h1>oooooops! this is not found</h1>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>