<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <div class="site-title">
            <a href="/">about blog devmulan</a>
            <p>net mulan site</p>
        </div>
        <%- include('./partials/nav.ejs') %>

            <div class="blogs content">
                <h2>all blogs</h2>
            </div>
            <div class="content-about">
                <p>about us</p>
                <h1>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit incidunt explicabo quae placeat natus laboriosam non asperiores necessitatibus deserunt ut exercitationem sit itaque, animi voluptatibus maiores, porro perferendis nobis alias?
                </h1>
                <h1>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit incidunt explicabo quae placeat natus laboriosam non asperiores necessitatibus deserunt ut exercitationem sit itaque, animi voluptatibus maiores, porro perferendis nobis alias?
                </h1>
                <h1>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit incidunt explicabo quae placeat natus laboriosam non asperiores necessitatibus deserunt ut exercitationem sit itaque, animi voluptatibus maiores, porro perferendis nobis alias?
                </h1>

                <h1>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit incidunt explicabo quae placeat natus laboriosam non asperiores necessitatibus deserunt ut exercitationem sit itaque, animi voluptatibus maiores, porro perferendis nobis alias?
                </h1>
                <h1>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit incidunt explicabo quae placeat natus laboriosam non asperiores necessitatibus deserunt ut exercitationem sit itaque, animi voluptatibus maiores, porro perferendis nobis alias?
                </h1>
            </div>
    </body>

</html>